.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    border-top: 1px solid gray;

    ._h2 {
        font-size: 5vh;
        padding-bottom: 5vh;
    }

    ._imgg {
        background-image: url(../img/gallery.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100%;
    }
}